body{
  margin: 0 auto;
}

#root {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(179, 198, 233);
  text-align: center;
}

header{
  background-color: rgb(124, 124, 235);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul{
  padding-left: 0;
}

li{
  display: inline-block;
  list-style-type: none;
  text-align: center;
  padding: 0px 5px;
}

footer{
  background-color:#535bf2;
  text-align: center;
  padding: 1rem;
}

.nav-bar{
  padding: 0px 5px;

}

.nav-bar-offset{
  visibility: hidden;
}


